/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

.wp-block-cgb-ccms-versions .wp-block-cgb-card.card figure {
    margin-left: 0;
    margin-right: 0;
}
.wp-block-cgb-ccms-versions .ccms-versions-archive-link {
    display:block;
    text-align: center;
}