/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

 .wp-block-cgb-animate-number {
    color: var(--color-theme-primary-light);
    font-size: 3rem;
    font-weight: 600;
 }
 .wp-block-cgb-animate-number.aligncenter p {
     text-align: center;
 }


  