/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

 /* content display option */
 .wp-block-cgb-testimonial-posts .card-body {
     border: 1px solid var(--color-theme-medium-light);
 }
 .wp-block-cgb-testimonial-posts .wp-block-quote.is-large p, 
 .wp-block-cgb-testimonial-posts .wp-block-quote.is-style-large p {
    font-size: 1rem;
    font-style: normal;
    text-align: left;
}

.wp-block-cgb-testimonial-posts .wp-block-quote.is-large, 
.wp-block-cgb-testimonial-posts .wp-block-quote.is-style-large {
    border-left: 3px solid var(--color-theme-secondary);
    padding-left: 1rem;
}
.wp-block-cgb-testimonial-posts .wp-block-quote.is-large cite, 
.wp-block-cgb-testimonial-posts .wp-block-quote.is-style-large cite {
    text-transform: uppercase;
    color: var(--color-theme-secondary);
    font-weight: bold;
}
.wp-block-cgb-testimonial-posts .wp-block-quote.is-large em, 
.wp-block-cgb-testimonial-posts .wp-block-quote.is-style-large em {
    font-style: normal;
}
.wp-block-cgb-testimonial-posts .wp-block-quote.is-large cite a, 
.wp-block-cgb-testimonial-posts .wp-block-quote.is-style-large cite a{
    color: var(--color-theme-secondary);
}

/* excerpt display option */
.wp-block-cgb-testimonial-posts .card{
    overflow: hidden;
}
.wp-block-cgb-testimonial-posts .card-body{
    padding-bottom: 0;
    padding-top: 2rem;
}
.wp-block-cgb-testimonial-posts img{
    max-height:130px;
}
.wp-block-cgb-testimonial-posts .testimonial-excerpt-title{
    margin-bottom: 0;
    font-weight: 600;
    text-transform: uppercase;
}
.wp-block-cgb-testimonial-posts .card-body > p:last-of-type{
    margin-bottom: 1.5rem;
}
.wp-block-cgb-testimonial-posts blockquote.is-style-default {
    color: var(--color-theme-default);
}
.wp-block-cgb-testimonial-posts blockquote.testimonial-landing-blockquote {
    margin-bottom: 0;
    padding-bottom: 2rem;
    height: 100%;
}
.wp-block-cgb-testimonial-posts blockquote.testimonial-landing-blockquote:after {
    content:'';
    display: block;
    position: absolute;
    left: -1.25rem;
    bottom:0;
    width: 4px;
    height: 100%;
    background-color: var(--color-theme-secondary);
}
.wp-block-cgb-testimonial-posts blockquote.testimonial-landing-blockquote:before{
    color: var(--color-theme-secondary);
} 

@each $name, $color in $colors { 
    .wp-block-cgb-testimonial-posts blockquote.blockquote-has-#{$name}-color:after{
		background-color: $color;
    }
    .wp-block-cgb-testimonial-posts blockquote.blockquote-has-#{$name}-color:before{
		color: $color;
	}
}

.wp-block-cgb-testimonial-posts blockquote.testimonial-landing-blockquote p{
    margin-bottom: 0;
}
