/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */
.card-column {
    margin-bottom: 2rem;
}

.wp-block-cgb-case-studies .wp-block-cgb-card.card figure {
    margin-left: 0;
    margin-right: 0;
}
.wp-block-cgb-case-studies .wp-block-button {
    text-transform: uppercase;
}